@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

html {
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100vw;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(5, 2fr);
}

.texto {
    grid-column: 1 / 7;
    grid-row: 3 / 5;
    align-self: center;
    justify-self: center;
    margin: 0;
    font-family: 'Square Peg', cursive;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(136, 14, 79);
    animation: toUp 3s forwards;
}

.rose_1 {
    max-width: 300px;
    width: 100%;
    animation: toDown 1.75s ease-in;
    transform: rotate(-45deg);
    grid-row: 1 / 3;
    grid-column: 2 / 4;
}

.rose_2 {
    max-width: 300px;
    width: 100%;
    animation: toDown 1.50s ease-in;
    transform: rotate(-30deg);
    grid-row: 1 / 3;
    grid-column: 3 / 5;
}

.rose_3 {
    max-width: 300px;
    width: 100%;
    animation: toDown 1.25s ease-in;
    grid-row: 1 / 3;
    grid-column: 4 / 6;
}


.center-roses {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
    outline: 1px solid red;
    position: relative;
}

.rose_4 {
    position: absolute;
    top: -22%;
    left: -15%;
    transform: rotate(-40deg);
    max-width: 300px;
    width: 100%;
    animation: toDown 1s ease-in;
}

.rose_5 {
    position: absolute;
    top: -20%;
    left: 24%;
    transform: rotate(-25deg);
    max-width: 300px;
    width: 100%;
    animation: toDown 0.75s ease-in;
}

#heart {
    grid-column: 5 / 7;
    grid-row: 5 / 6;
    position: relative;
    width: 100px;
    height: 90px;
    margin: 0 auto;
    transform: rotate(15deg);
    /* animation: toLeft 1s ease-in; */
}


#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-top: 1px solid rgb(136, 14, 79);
    border-bottom: 1px solid rgb(136, 14, 79);
    /* animation: toLeft 2s ease-in; */
}

#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    border-top: 1px solid rgb(136, 14, 79);
    border-bottom: 1px solid rgb(136, 14, 79);
    /* animation: toLeft 2s ease-in; */
}

@keyframes toDown {
    0% {
        opacity: 0;
        transform: translateY(-10em);
    }

    100% {
        opacity: 1;
        transform: translateX(-10px);
    }
}

@keyframes toUp {
    0% {
        opacity: 0;
        transform: translateY(2em);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(20em);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* ......................................... */
#XMLID_226_ {
    animation: draw 1s forwards;
}

@keyframes draw {
    from {}

    to {
        stroke-dashoffset: 0;
    }
}

/* ......................................... */