html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(4, 2fr);
}

.rose_1 {
    max-width: 300px;
    width: 100%;
    animation: toDown 0.75s ease-in;
    transform: rotate(-60deg);
    grid-row: 1 / 3;
    grid-column: 2 / 4;
}

.rose_2 {
    max-width: 300px;
    width: 100%;
    animation: toDown 1s ease-in;
    transform: rotate(-30deg);
    grid-row: 1 / 3;
    grid-column: 3 / 5;
}


.rose_3 {
    max-width: 300px;
    width: 100%;
    animation: toDown 1s ease-in;
    transform: rotate(-30deg);
    grid-row: 1 / 3;
    grid-column: 4 / 6;
}


.rose_4 {
    max-width: 300px;
    width: 100%;
    animation: toDown 1s ease-in;
    transform: rotate(15deg);
    grid-row: 1 / 3;
    grid-column: 5 / 7;
}

.center-roses {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
    /* outline: 1px solid red; */
    position: relative;
}

.rose_center_1 {
    position: absolute;
    top: -50%;
    left: -20%;
    transform: rotate(-40deg);
    max-width: 300px;
    width: 100%;
    animation: toDown 1s ease-in;
}

.rose_center_2 {
    position: absolute;
    top: -50%;
    left: -40%;
    transform: rotate(-40deg);
    max-width: 300px;
    width: 100%;
    animation: toDown 1s ease-in;
}

.rose_center_3 {
    position: absolute;
    top: -50%;
    right: -20%;
    max-width: 300px;
    width: 100%;
    transform: scaleX(-1);
    animation: toDown 1s ease-in;
}

/* 
.rose_6 {
    max-width: 6rem;
    width: 100%;
    animation: toDown 3s ease-in;
}

.rose_7 {
    max-width: 6rem;
    width: 100%;
    animation: toDown 3s ease-in;
}

.rose_8 {
    max-width: 6rem;
    width: 100%;
    animation: toDown 3s ease-in;
}

.rose_9 {
    max-width: 6rem;
    width: 100%;
    animation: toDown 3s ease-in;
} */

@keyframes toDown {
    0% {
        opacity: 0;
        transform: translateY(-10em);
    }

    100% {
        opacity: 1;
        transform: translateX(-10px);
    }
}


@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(20em);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes toRight {
    0% {
        opacity: 0;
        transform: translateX(-10em);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes toUp {
    0% {
        opacity: 0;
        transform: translateY(20em);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}



/* ......................................... */
#XMLID_226_ {
    animation: draw 10s forwards;
}

@keyframes draw {
    from {}

    to {
        stroke-dashoffset: 0;
    }
}

/* ......................................... */